<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="canonical" href="https://html5-templates.com/" />
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/js/notepad.js"></script>	
	<link rel="stylesheet" type="text/css" href="/css/notepad.css" />
	<title>Windows Template</title>
</head>
<body>
	<div id="desktop">
		<div class="window" data-title="First Verse">
			<textarea>  First Verse   </textarea>
			<input type = "submit" value = "submit" />
		</div>


		<div class="window" data-title="Second Verse">
		<textarea>Second Verse</textarea>	
		<input type = "submit" value = "submit" />

		</div>


		<div class="window" data-title="Chorus 1">

		<textarea>Chorus 1</textarea>		<input type = "submit" value = "submit" />
	
		</div>


		<div class="window" data-title="Chorus 2">
<textarea>Chorus 2</textarea> 		<input type = "submit" value = "submit" />
</div>

		<div class="window" data-title="Bridges">
			<p><textarea></textarea> </p>
			<p><textarea></textarea> </p>
			<hr />
			<p><textarea></textarea></p>		<input type = "submit" value = "submit" />

		</div>
		
		<div id="taskbar">		
		</div>
		

		<a href="https://html5-templates.com/" rel="nofollow" target="_blank" id="templateLink">&copy; HTML5-Templates.com</a>	
		<!-- You can use this template freely if you leave a visible link to HTML5-Templates.com -->
	</div>
</body>

</html>