<div class="post card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form id="new-post-form" class="card-body">
    <label class="form-label" for="post-title">Song Name</label>
    <input type="text" name="post-title" class="form-input" />

    <label class="form-label" for="post-body">Lyrics</label>
    <textarea name="post-body" class="form-input"></textarea>

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<section>
<h1 class="beatsHeader">Free Beats!</h1>

<div  class="audioContainer"/>
<audio src="/audio/song1.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song2.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song3.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song4.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song5.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song6.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song7.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song8.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song9.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song10.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song11.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song12.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song13.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song14.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song15.mp3" controls = 'controls'> Zion (Instrumental) </audio>

<audio src="/audio/song16.mp3" controls = 'controls'> Zion (Instrumental) </audio>
<audio src="/audio/song17.mp3" controls = 'controls'> Zion (Instrumental) </audio>
<audio src="/audio/song18.mp3" controls = 'controls'> Zion (Instrumental) </audio>
<audio src="/audio/song19.mp3" controls = 'controls'> Zion (Instrumental) </audio>
<audio src="/audio/song20.mp3" controls = 'controls'> Zion (Instrumental) </audio>

</section>

<script src="/js/new.js"></script>